<div class="panel panel-default">
<div class="panel panel-heading><h1>Editing Pin</h1></div>
<div class="panel-body">
<%= render 'form' %>

<%= link_to 'Show', @pin %> |
<%= link_to 'Back', pins_path %>

<div class="panel-footer">
</div>
</div>