<%= render 'home/jumbo' unless user_signed_in? %>

<div id= "pins" class='transitions-enabled'>
    <% @pins.each do |pin| %>
    
    <div class= "box">
    <%= link_to image_tag(pin.image.url), pin %>
    <div class="panel-body"></div>
    <%= pin.description %></br>
    <%= pin.user.name if pin.user %>
    
    <% if pin.user == current_user %></br>
     <%= link_to 'Edit', (pin) %>
     <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></br>
    <% end %>
    </br>
    </div>
    <% end %>
    
</div>

</div>
<div class = "center">
<%= will_paginate @pins, renderer: BootstrapPagination::Rails %>
</div>