<div class="panel panel-default">
        <div class="panel panel-heading"<h2>New Pin</h2></div>
    <div class="panel-body">
        <%= render 'form' %>
        <div class="panel-footer"><%= link_to 'Back', pins_path %></div>
    </div>
</div>