<p id="notice"><%= notice %></p>

<div class="row">
  <div class=" col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <div class="panel-body">
        <p>
          <%= image_tag (@pin.image.url (:medium)) %></br>
          <%= @pin.description %>
        </p>
         <%= @pin.user.name %></br>
        <%= link_to 'Edit', edit_pin_path(@pin) %> |
        <%= link_to 'Back', pins_path %>
        </div>
      </div>
    </div>
  </div>
</div>