
<nav class="navbar navbar-default" role="navigation">
 <div class="container">
 <!-- Brand and toggle get grouped for better mobile display -->
 <div class="navbar-header">
 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" datatarget="#bs-example-navbar-collapse-1">
 <span class="sr-only">Toggle navigation</span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 </button>
 <%= link_to 'Fake Ass Pinterest', root_path, class: 'navbar-brand' %>
 </div>
 <!-- Collect the nav links, forms, and other content for toggling -->
 
 <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   <ul class="nav navbar-nav navbar-right">
   <li><%= link_to 'Home', root_path %></li>
   <li><%= link_to 'About Me', home_about_path %></li>
   <li><%=link_to 'List Pins', pins_path %></li>
 <% if user_signed_in? %>
   <li><%= link_to 'Login', new_user_session_path %></li>
   <li><%= link_to 'Add Pin', new_pin_path %></li>
   <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
   <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
 <% else %>
   <li><%= link_to 'Login', new_user_session_path %></li>
   <li><%= link_to "Join", new_user_registration_path %></li>
 <% end %>
 </ul>
 </div><!-- /.navbar-collapse -->
 </div><!-- /.container -->
 </nav>