<div class="jumbotron center">
    <h1>Welcome to my App</h1>
    <p>I'm tired of this shit</p>
    
    <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn btn-default' %>
        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-default' %>
        <%= link_to 'List Pins', pins_path, class: 'btn btn-default' %>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: 'btn btn-default' %>
        <%= link_to "Join", new_user_registration_path, class: 'btn btn-default' %>
    <% end %>

</div>
